<a [routerLink]="[contact.id]" class="text-decoration-none contactDiv">
  <div class="card mb-3"
       routerLinkActive="active"
       #rla="routerLinkActive"
       [class.active]="rla.isActive">
    <div class="row g-0 align-items-center">
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ contact.name }}</h5>
        </div>
      </div>
      <div class="col-md-2 text-end pe-3">
        <img
          [src]="contact.imageUrl"
          class="img-fluid rounded"
          alt="{{ contact.name }}"
          style="max-height: 150px"
        />
      </div>
    </div>
  </div>
</a>
