<div class="container mt-4">
  <div class="row">
    <div class="col-md-5">
      <!-- <cms-contact-list
      (selectedContactEvent)="onContactSelected($event)">
      </cms-contact-list> -->
      <cms-contact-list></cms-contact-list>
    </div>
    <div class="col-md-7">
      <h4   class="mb-3 text-muted fs-6 fw-bold ">Select a Contact to see details</h4>
      <cms-contact-detail
        *ngIf="selectedContact"
        [contact]="selectedContact">
      </cms-contact-detail>
    </div>
  </div>
</div>