<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-9">
        <h4>Contacts</h4>
      </div>
      <div class="col-xs-3">
        <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <!-- Draggable contact list -->
        <div 
          cdkDropList 
          #contactList="cdkDropList"
          [cdkDropListData]="contacts"
          [cdkDropListConnectedTo]="[]"
          class="contact-list">
          
          <div 
            *ngFor="let contact of contacts" 
            cdkDrag
            [cdkDragData]="contact"
            class="contact-drag-item">
            <cms-contact-item [contact]="contact"></cms-contact-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>