<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Contacts</h5>
    <a [routerLink]="['new']" class="btn btn-success btn-sm">New Contact</a>
  </div>

  <div class="card-body">
    <div
      cdkDropList
      #contactList="cdkDropList"
      [cdkDropListData]="contacts"
      cdkDropListConnectedTo="groupList"
      (cdkDropListDropped)="onDrop($event)"
      class="contact-list"
    >
      <div class="row">
        <div
          class="col-md-12 mb-3"
          *ngFor="let contact of contacts; let i = index"
          cdkDrag
          [cdkDragData]="contact"
        >
          <cms-contact-item [contact]="contact"></cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
